openapi: 3.0.1
info:
  title: Authentication (GCP)
  description: APIs schema for Authentication
  version: 1.0.0
servers:
  - url: 'https://backend.aistrom.com:8000'
security:
  - basicAuth: []
  - bearerAuth: []
paths:
  /notifications/source/:uid:
    get:
      security:
        - bearerAuth: []
      summary: Get source by uid
      responses:
        '200':
          description: success response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceSuccessResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /notifications/source:
    post: 
      security:
        - bearerAuth: []
      summary: Add sources
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BodySource'
        required: true
      responses: 
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      security:
        - bearerAuth: []
      summary: Get sorces by owner id
      responses:
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'           
  /notifications/destination/:uid:
    get:
      security:
        - bearerAuth: []
      summary: Get destination by uid
      responses:
        '200':
          description: success response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DestinationSuccessResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: body
  /notifications/destination:
    post: 
      security:
        - bearerAuth: []
      summary: Add destinations
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BodyDestination'
        required: true
      responses: 
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DestinationSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      security:
        - bearerAuth: []
      summary: Get destinations by owner id
      responses:
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DestinationSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/expression:
    post: 
      security:
        - bearerAuth: []
      summary: Add destinations
      responses: 
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpressionSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      security:
        - bearerAuth: []
      summary: Get destinations by owner id
      responses:
        '200':
          description: success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpressionSuccessResponse'
        '403':
          description: forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'  
  /notifications/expression/:uid:
    get:
      security:
        - bearerAuth: []
      summary: Get expression by uid
      responses:
        '200':
          description: success response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpressionSuccessResponse'
        '500':
          description: internal server error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'              
components:
  schemas:
    BodyDestination:
      type: object
      properties:
        name:
          type: string
          example: abc
        type:
          type: string
          example: line
        topic: 
          type: string
          example: /line/:token
        data:
          type: string
          example: '{message:"1234", ...}'
    BodySource:
      type: object
      properties:
        name:
          type: string
          example: abc
        server_address:
          type: string
          example: 192.196.123.123
        database_name: 
          type: string
        table_name:
          type: string
        data_key:
          type: string
          example: columnA
    BodyExpression:
      type: object
      properties:
        name:
          type: string
          example: abc
        source_id:
          type: string
          example: uid
        condition: 
          type: string
          example: '? > 300'
        destination_id:
          type: string
          example: uid
        interval:
          type: string
          example: 1 (minute)
        message_in_condition:
          type: string
          example: attributes is in condition
        message_out_condition:
          type: string
          example: attributes is out condition
    ErrorResponse:
      type: object
      properties:
        data:
          type: object
        message:
          type: string
          example: '{error message}'
    SourceSuccessResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BodySource'
        message:
          type: string
    DestinationSuccessResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BodyDestination'
        message:
          type: string
    ExpressionSuccessResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/BodyExpression'
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
